* {
  box-sizing: border-box;
  margin: 0;
}

.bookListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.bookList {
  width: 80%;
  margin: 30px 0px;
}

div.bookList li {
  margin-top: 10px;
}

ul.bookList {
  list-style: none;
  padding: 0;
}

div.addBookForm, div.addBookForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.addBookForm form {
  width: 80%;
  margin: 0 10%;
  align-items: stretch;
  gap: 5px;
}

#btnAdd {
  align-self: flex-start;
  padding: 0 20px;
}