* {
  box-sizing: border-box;
  margin: 0;
}

.mainBooksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

div.bookList {
  display: flex;
  flex-direction: column;
  margin: 30px 20px;
  background-color: rgb(7, 92, 219);
  border: 2px solid #000;
  max-width: 400px;
  min-width: 315px;
}

ul.bookList {
  list-style: none;
  padding: 0;
}

div.bookList li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

div.bookList li:nth-child(odd) {
  background-color: #e6ebeb;
}

div.bookList li:nth-child(even) {
  background-color: #fff;
}

hr {
  width: 30%;
  margin: 0 auto;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
}

#btnAdd {
  align-self: flex-end;
  padding: 0 20px;
}
